<!-- hakkimda.component.html -->

<div class="hakkimda-container">
  <div class="header">
    <h1>Hakkımda</h1>
  </div>

  <div class="about-me">
    <div class="personal-info">
      <h2>Furkan Oğuzgöksu</h2>
      <p>
        Merhaba! Ben Furkan Oğuzgöksu. Konya Teknik Üniversitesi Bilgisayar
        Mühendisliği 2. sınıf öğrencisiyim. Yazılım dünyasına olan ilgim,
        yaratıcı çözümler geliştirme ve teknolojiyi kullanarak sorunları çözme
        tutkumla birleşiyor. Yazılım mühendisliği, web geliştirme ve veri
        analizi gibi alanlarda uzmanlaşmak için sürekli öğrenmeye devam
        ediyorum.
      </p>
    </div>
  </div>

  <div class="projects">
    <h2>Projelerim</h2>
    <ul>
      <li>
        <h3>1. Haber Sitesi Projesi</h3>
        <p>
          HTML, CSS ve Angular kullanarak dinamik bir haber platformu
          geliştirdim. Proje, kategoriye özel sayfalar, haber filtreleme ve API
          entegrasyonunu içeriyor. Ama çoğunu yapamadım :()
        </p>
      </li>
    </ul>
  </div>

  <div class="skills">
    <h2>Yeteneklerim</h2>
    <ul>
      <li>Web Geliştirme: HTML, CSS</li>
      <li>Programlama Dilleri: C,Java</li>
      <li>Veri Yapıları ve Algoritmalar</li>
    </ul>
  </div>

  <div class="contact">
    <h2>İletişim</h2>
    <p>
      Email:
      <a href="mailto:furkanoguz4242@hotmail.com">Mailim</a>
    </p>
    <p>
      LinkedIn:
      <a
        href="https://www.linkedin.com/in/furkan-o%C4%9Fuzg%C3%B6ksu-b37b52284/"
        target="_blank"
        >https://www.linkedin.com/in/furkan-o%C4%9Fuzg%C3%B6ksu-b37b52284/</a
      >
    </p>
    <p>
      GitHub:
      <a href="https://github.com/FurkanOguzgoksu" target="_blank"
        >https://github.com/FurkanOguzgoksu</a
      >
    </p>
  </div>
</div>
